
    	ul{
        list-style-type: none;
        overflow: hidden;
        position: fixed;
        background-color:#333;
        top: 0;
        width:97%;
        margin:0;
        z-index:1;
        }

         li a,button {
         display: block;
         color: white;
         text-align:center;
         padding: 14px 16px;
         text-decoration: none;
         float:right;
         }
         p{
         text-align:center;
         margin:15% 15%;
         color:white;
         font-size:80px;

         }
         p4{
         text-align:center;
         margin:15% 15%;
         color:white;
         font-size:60px;
         opacity:0;
         animation-name: example6;
         animation-delay:1s;
         animation-duration: 5s;
         animation-iteration-count:infinite;
         }
         @keyframes example6 {
         0% {opacity: 10;}
         100% {opacity: 10;}
         }

         li img {
         width:150px;
         height:52px;
         float:left;
         }
         p2{
         background-color:none;
          border: none;
          color: white;
          font-size:60px;
          opacity:0;
          text-align: center;
          animation-name: example5;
          animation-delay:2s;
          animation-duration: 5s;
          animation-iteration-count:infinite;
         }
         @keyframes example5 {
         0% {opacity: 10;}
         100% {opacity: 10;}
         }
         input[type="button"] {
          background-color:blue;
          border: none;
          color: black;
          font-size:20px;
          padding: 10px 20px;
          text-align: center;
          display: inline-block;
          border-radius:16px;
          margin-top:-50px;
          margin-bottom:-49px;
          width:230px;
          height:70px;
          transition-property: width;
         }
        input[type="button"]:hover{
         border-radius:16px;
         animation-name: example1;
         animation-duration:4s;
         }
        @keyframes example1 {
        0%{background-color:blue;width:20%;}
        100%{background-color:red;width:40%;}
        }

        li a:hover{
        background-color: black;
        }
        .card-body:hover{
        background-color:white;
        }