
        .container{
        background-color:lightblue;
        border-radius:12px;
        }
        input[type=text]:focus,[type=password]:focus,[type=email]:focus,[type=date]:focus{
          background-color: pink;
          }
        input[type=radio]:focus{
         height:30px;
         width:20px;
        }
        input[type=submit]{
        background-color:blue;
        width:18%;
        border-radius:12px;
        height:45px;
        border-color:blue;
        }
        input[type=reset]{
        background-color:blue;
        width:18%;
        border-radius:12px;
        height:45px;
        border-color:blue;
        }
        button[type=button]{
        background-color:blue;
        width:18%;
        border-radius:12px;
        height:45px;
        border-color:blue;
        }
        input[type=checkbox]:focus{
         height:40px;
         width:20px;
         }
         option:focus{
         width:30px;
         height:20px;
         }
         h1{
         text-align:center;color:white;
         }
         img{
         position:fixed;
         }